<form action="/favourites" method="post">
    <button type="submit" class="bg-green-500 p-2 hover:bg-green-700">Add to Favourite</button>
    <input type="hidden" name="id" value="<%= home.id %>">
</form>