h1{
    color: red;
}

/* this color is not good, improve it later 
    p{ color: yellow;}
    */

    /* ish trah se hm css me comment likh shakte hai jisko hm bad me change kar shakte hai or iski short key (ctr+/) */
    
p{
    color: yellowgreen;
}