li.html {
  background-color: darkolivegreen !important;
  color: aquamarine;
}
li {
  background-color: green !important;
  color: aquamarine;
}

li {
  background-color: cornflowerblue !important;
  color: aquamarine;
}

li {
  background-color: green;
  color: aquamarine;
}

li {
  background-color: blueviolet;
}

li {
  background-color: lightseagreen;
  color: coral;
}

#html {
  background-color: deeppink;
}
.html {
  background-color: darkblue;
}
.html {
  background-color: crimson;
}
#html {
  background-color: darkcyan;
}
